[submodule "deps/minhook"]
	path = deps/minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "deps/rapidjson"]
	path = deps/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "resources/schinese"]
	path = resources/schinese
	url = https://github.com/chinosk6/SCSPTranslationData.git
[submodule "deps/safetyhook"]
	path = deps/safetyhook
	url = https://github.com/Muitsonz/safetyhook.git
